<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mz.unilurio.solidermed">

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".model.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projecto_S"
        android:usesCleartextTraffic="true">
        <activity android:name=".EditContactActivity"></activity>
        <activity
            android:name=".ContactActivity"
            android:theme="@style/Theme.Projecto_S.NoActionBar"></activity>
        <activity
            android:name=".PesquisaActivity"
            android:theme="@style/Theme.Projecto_S.NoActionBar" />
        <activity
            android:name=".SettingActivity"
            android:theme="@style/Theme.Projecto_S.NoActionBar" />
        <activity
            android:name=".TrasferenciaActivity"
            android:theme="@style/Theme.Projecto_S.NoActionBar" />
        <activity
            android:name=".HospitaisActivity"
            android:theme="@style/Theme.Projecto_S.NoActionBar" />
        <activity
            android:name=".AddUserNurseActivity"
            android:theme="@style/Theme.Projecto_S.NoActionBar" />
        <activity
            android:name=".NurseActivity"
            android:theme="@style/Theme.Projecto_S.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".Atendimento" />
        <activity
            android:name=".Login"
            android:theme="@style/Theme.Projecto_S.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DadosPessoais"
            android:label="@string/title_activity_dados_pessoais"
            android:theme="@style/Theme.Projecto_S.NoActionBar" />
        <activity
            android:name=".AddParturientActivity"
            android:label="@string/title_activity_note"
            android:theme="@style/Theme.Projecto_S.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Projecto_S.NoActionBar" />
    </application>

</manifest>