<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mz.unilurio.solidermed">

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".model.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projecto_S"
        android:usesCleartextTraffic="true">
        <activity android:name=".ActivitViewPasswordUser"></activity>
        <activity android:name=".MainActivity_Users_List_definitionMainActivity" />
        <activity android:name=".ActivityDefinirMaximoDeDilatacao" />
        <activity android:name=".ActivitDefinittionOptionParidade" />
        <activity android:name=".ActivityDefinitionIdadeGestacional" />
        <activity
            android:name=".SelectHospitalActivity"
            android:theme="@style/Theme.Projecto_S.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".Activity_Confirmar_Registo" />
        <activity android:name=".Activity_RegistarUsuario" />
        <activity android:name=".MainActivity_Users_List" />
        <activity
            android:name=".ActivityDefinitionEmergencTimer"
            android:theme="@style/Theme.Projecto_S.NoActionBar" />
        <activity
            android:name=".ViewDadosPessoaisActivity"
            android:theme="@style/Theme.Projecto_S.NoActionBar" />
        <activity
            android:name=".ViewAtendimentoActivity"
            android:theme="@style/Theme.Projecto_S.NoActionBar" />
        <activity
            android:name=".ActivityDilatetionAndHours"
            android:theme="@style/Theme.Projecto_S.NoActionBar" />
        <activity
            android:name=".StartApp"
            android:theme="@style/Theme.Projecto_S.NoActionBar" />
        <activity
            android:name=".TimerActivity"
            android:theme="@style/Theme.Projecto_S.NoActionBar" />
        <activity
            android:name=".ActivityChengePassword"
            android:theme="@style/Theme.Projecto_S.NoActionBar" />
        <activity
            android:name=".ActivityValitationCode"
            android:theme="@style/Theme.Projecto_S.NoActionBar" />
        <activity
            android:name=".ActivitySendMenssage"
            android:theme="@style/Theme.Projecto_S.NoActionBar" />
        <activity
            android:name=".ActivityViewUserSeacher"
            android:theme="@style/Theme.Projecto_S.NoActionBar" />
        <activity
            android:name=".Activity_VerificarPassword"
            android:theme="@style/Theme.Projecto_S.NoActionBar" />
        <activity android:name=".EditContactActivity" />
        <activity
            android:name=".ActivityMedicos"
            android:theme="@style/Theme.Projecto_S.NoActionBar" />
        <activity
            android:name=".PesquisaActivity"
            android:theme="@style/Theme.Projecto_S.NoActionBar" />
        <activity
            android:name=".SettingActivity"
            android:theme="@style/Theme.Projecto_S.NoActionBar" />
        <activity
            android:name=".TrasferenciaActivity"
            android:theme="@style/Theme.Projecto_S.NoActionBar" />
        <activity
            android:name=".HospitaisActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Projecto_S.NoActionBar" />
        <activity
            android:name=".AddUserNurseActivity"
            android:theme="@style/Theme.Projecto_S.NoActionBar" />
        <activity
            android:name=".NurseActivity"
            android:theme="@style/Theme.Projecto_S.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Atendimento"
            android:theme="@style/Theme.Projecto_S.NoActionBar" />
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:theme="@style/Theme.Projecto_S.NoActionBar" />
        <activity
            android:name=".DadosPessoais"
            android:label="@string/title_activity_dados_pessoais"
            android:theme="@style/Theme.Projecto_S.NoActionBar" />
        <activity
            android:name=".AddParturientActivity"
            android:label="@string/title_activity_note"
            android:theme="@style/Theme.Projecto_S.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.Projecto_S.NoActionBar">
        </activity>
    </application>

</manifest>